<!-- wp:template-part {"slug":"header","theme":"Supersmashbros","tagName":"div","align":"wide","className":"smash-product-card"} /-->

<!-- wp:template-part {"slug":"header-accueil","theme":"Supersmashbros","tagName":"div","area":"header","align":"wide","className":"smash-product-card"} /-->

<!-- wp:group {"align":"wide","className":"smash-product-card","style":{"border":{"radius":"0px","width":"0px","style":"none"},"shadow":"var:preset|shadow|button","typography":{"fontWeight":"800","textTransform":"uppercase"},"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"right":"var:preset|spacing|l","left":"var:preset|spacing|l","top":"var:preset|spacing|l","bottom":"var:preset|spacing|l"}}},"backgroundColor":"jaune-orange","textColor":"noir","gradient":"section-main-diagonals","fontSize":"m","fontFamily":"roboto-condensed","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide smash-product-card has-noir-color has-section-main-diagonals-gradient-background has-jaune-orange-background-color has-text-color has-background has-roboto-condensed-font-family has-m-font-size"
	style="border-style:none;border-width:0px;border-radius:0px;margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--l);padding-right:var(--wp--preset--spacing--l);padding-bottom:var(--wp--preset--spacing--l);padding-left:var(--wp--preset--spacing--l);font-weight:800;text-transform:uppercase;box-shadow:var(--wp--preset--shadow--button)">
	<!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|s"}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignwide"><!-- wp:woocommerce/breadcrumbs {"fontSize":"xs","textColor":"blanc"} /-->

		<!-- wp:query-title {"type":"archive","showPrefix":false,"align":"wide","style":{"typography":{"fontWeight":"900","textTransform":"uppercase","letterSpacing":"-0.03em","lineHeight":"0.95"},"spacing":{"margin":{"bottom":"var:preset|spacing|s"},"padding":{"right":"0","left":"0","top":"0","bottom":"0"}}},"textColor":"blanc","fontSize":"3xl","fontFamily":"roboto-condensed"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:woocommerce/store-notices /-->

	<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|s","bottom":"var:preset|spacing|s","left":"var:preset|spacing|l","right":"var:preset|spacing|l"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between","verticalAlignment":"center"}} -->
	<div class="wp-block-group alignwide"
		style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--s);padding-right:var(--wp--preset--spacing--l);padding-bottom:var(--wp--preset--spacing--s);padding-left:var(--wp--preset--spacing--l)">
		<!-- wp:woocommerce/product-results-count {"style":{"typography":{"textTransform":"uppercase","fontWeight":"700","letterSpacing":"0.03em"}},"textColor":"blanc","fontSize":"xs"} /-->

		<!-- wp:woocommerce/catalog-sorting /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:woocommerce/product-collection {"queryId":18,"query":{"woocommerceAttributes":[],"woocommerceStockStatus":["instock","outofstock","onbackorder"],"taxQuery":[],"isProductCollectionBlock":true,"perPage":9,"pages":0,"offset":0,"postType":"product","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":true},"tagName":"div","displayLayout":{"type":"flex","columns":3,"shrinkColumns":true},"dimensions":{"widthType":"fill","fixedWidth":""},"queryContextIncludes":["collection"],"__privatePreviewState":{"isPreview":false,"previewMessage":"Les produits dépendront de la page consultée."},"align":"wide"} -->
	<div class="wp-block-woocommerce-product-collection alignwide">
		<!-- wp:woocommerce/product-template {"className":"smash-product-card"} -->
		<!-- wp:group {"className":"smash-product-card__outer has-noir-border-color","style":{"border":{"width":"3px"},"shadow":"var:preset|shadow|panel","spacing":{"padding":{"top":"var:preset|spacing|s","right":"var:preset|spacing|s","bottom":"var:preset|spacing|s","left":"var:preset|spacing|s"},"blockGap":"0"},"dimensions":{"minHeight":"0px"}},"backgroundColor":"noir","borderColor":"noir","layout":{"type":"constrained"}} -->
		<div class="wp-block-group smash-product-card__outer has-noir-border-color has-border-color has-noir-background-color has-background"
			style="border-width:3px;min-height:0px;padding-top:var(--wp--preset--spacing--s);padding-right:var(--wp--preset--spacing--s);padding-bottom:var(--wp--preset--spacing--s);padding-left:var(--wp--preset--spacing--s);box-shadow:var(--wp--preset--shadow--panel)">
			<!-- wp:group {"className":"smash-product-card__inner smash-product-card__bg","style":{"spacing":{"padding":{"top":"var:preset|spacing|l","right":"var:preset|spacing|l","bottom":"var:preset|spacing|l","left":"var:preset|spacing|l"}}},"textColor":"blanc","gradient":"card-diagonals-blue","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between","verticalAlignment":"center"}} -->
			<div class="wp-block-group smash-product-card__inner smash-product-card__bg has-blanc-color has-card-diagonals-blue-gradient-background has-text-color has-background"
				style="padding-top:var(--wp--preset--spacing--l);padding-right:var(--wp--preset--spacing--l);padding-bottom:var(--wp--preset--spacing--l);padding-left:var(--wp--preset--spacing--l)">
				<!-- wp:group {"style":{"layout":{"selfStretch":"fill","flexSize":"42%"},"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
				<div class="wp-block-group">
					<!-- wp:woocommerce/product-image {"showSaleBadge":false,"imageSizing":"thumbnail","isDescendentOfQueryLoop":true} /-->
				</div>
				<!-- /wp:group -->

				<!-- wp:group {"style":{"layout":{"selfStretch":"fill","flexSize":"50%"},"spacing":{"blockGap":"var:preset|spacing|m"}},"layout":{"type":"constrained"}} -->
				<div class="wp-block-group">
					<!-- wp:post-title {"level":3,"isLink":true,"style":{"typography":{"fontWeight":"800","lineHeight":"1","letterSpacing":"-0.02em"},"elements":{"link":{"color":{"text":"var:preset|color|blanc"}}},"spacing":{"margin":{"bottom":"var:preset|spacing|m"}}},"textColor":"blanc","fontSize":"xl","fontFamily":"roboto-condensed","__woocommerceNamespace":"woocommerce/product-collection/product-title"} /-->

					<!-- wp:woocommerce/product-price {"isDescendentOfQueryLoop":true,"textColor":"blanc","fontSize":"l","style":{"typography":{"fontWeight":"800","lineHeight":"1","letterSpacing":"-0.02em"}}} /-->

					<!-- wp:paragraph {"textColor":"blanc","fontSize":"xs"} -->
					<p class="has-blanc-color has-text-color has-xs-font-size">prix TTC (+20%)</p>
					<!-- /wp:paragraph -->

					<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"center"}} -->
					<div class="wp-block-group">
						<!-- wp:woocommerce/product-button {"isDescendentOfQueryLoop":true,"backgroundColor":"jaune-orange","textColor":"noir","fontFamily":"roboto-condensed","fontSize":"m","style":{"border":{"radius":"0px","width":"4px","color":"var:preset|color|noir"},"shadow":"var:preset|shadow|button","typography":{"fontWeight":"800","textTransform":"uppercase"}}} /-->
					</div>
					<!-- /wp:group -->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->
		<!-- /wp:woocommerce/product-template -->
	</div>
	<!-- /wp:woocommerce/product-collection -->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|blanc"}}},"spacing":{"blockGap":"var:preset|spacing|xs","padding":{"top":"var:preset|spacing|l","bottom":"var:preset|spacing|l","left":"var:preset|spacing|l","right":"var:preset|spacing|l"}}},"textColor":"blanc","gradient":"section-main-diagonals","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-blanc-color has-section-main-diagonals-gradient-background has-text-color has-background has-link-color"
	style="padding-top:var(--wp--preset--spacing--l);padding-right:var(--wp--preset--spacing--l);padding-bottom:var(--wp--preset--spacing--l);padding-left:var(--wp--preset--spacing--l)">
	<!-- wp:heading {"style":{"spacing":{"padding":{"right":"0","left":"0","top":"0","bottom":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|blanc"}}}},"textColor":"blanc","fontSize":"3xl"} -->
	<h2 class="wp-block-heading has-blanc-color has-text-color has-link-color has-3-xl-font-size"
		style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
		JOUE ET GAGNE UNE RÉDUCTION ! </h2>
	<!-- /wp:heading -->

	<!-- wp:html -->
	<iframe src="https://mmi.unilim.fr/~lavilledevaur1/Mini_jeu/" width="100%" height="800" style="border:none;">
	</iframe>
	<!-- /wp:html -->

	<!-- wp:heading {"textAlign":"center","style":{"spacing":{"padding":{"right":"0","left":"0","top":"0","bottom":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|blanc"}}}},"textColor":"blanc","fontSize":"3xl"} -->
	<h2 class="wp-block-heading has-text-align-center has-blanc-color has-text-color has-link-color has-3-xl-font-size"
		style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">découvre notre notice de démarche créative
	</h2>
	<!-- /wp:heading -->

	<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
	<div class="wp-block-buttons"><!-- wp:button {"className":"is-style-smash"} -->
		<div class="wp-block-button is-style-smash"><a class="wp-block-button__link wp-element-button"
				href="https://www.figma.com/proto/kK2EYD94O25iaua2kUKJIG/SA%C3%89-4.02?node-id=1146-11942&amp;t=xGqdf6D3o5yKgehP-0&amp;scaling=contain&amp;content-scaling=fixed&amp;page-id=1146%3A7380">Voir
				la notice de démarche créative</a></div>
		<!-- /wp:button -->
	</div>
	<!-- /wp:buttons -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"Supersmashbros","tagName":"div","align":"wide","className":"smash-product-card"} /-->